$primary-font-family:Roboto, sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-text-color-dark-theme: #ffffff;
$secondary-text-color-dark-theme: rgba(255, 255, 255, 0.6);
$color-icon-primary: #afb1b8;
$hover-color: #2196f3;